<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>ユーザー情報編集</h2>
    <%= form_with model: @end_user, local:true do |f| %>
      <%= render 'public/shared/error_messages', resource: @end_user %>
      <div class="form-group">
        <%= f.label :ユーザー名 %>
        <%= f.text_field :name, autofocus: true, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :プロフィール画像 %>
        <%= f.file_field :profile_image, class: "form-control-file end_user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :イントロダクション %>
        <%= f.text_area :introduction, id:"user_introduction", placeholder: "50文字以内", class: "form-control introduction" %>
        <span class="count" id="count_introduction">0文字</span><span>/50文字</span>
      </div>
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: "form-control email" %>
      </div>
      <div class="form-group">
        <%= f.submit "更新", class: 'btn btn-success' %><%= link_to "退会する", end_users_confirm_withdraw_path, class:"btn btn-danger offset-3" %>
      </div>
    <% end %>
  </div>
</div>