<%= flash[:notice] %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--end_user_information-->
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <table class='table'>
        <tr><%= image_tag @end_user.get_profile_image, size:'100x100' %></tr>
        <tr>
          <th>name</th>
          <th><%= @end_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @end_user.introduction %></th>
        </tr>
      </table>
      <!--ユーザー情報編集ボタンの表示条件-->
      <div class='row'>
        <% if current_end_user == @end_user %>
          <% if @end_user.email != "guest@example.com" %>
            <%= link_to edit_end_user_path(@end_user), class: "btn btn-outline-secondary btn-block edit_user_#{@end_user.id}" do %>
            <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-3 row">
        <%= link_to "いいねした投稿一覧", favorite_posts_end_user_path(@end_user), class: "btn btn-success btn-block" %>
      </div>
    </div>
    <!--end_user's_post_index-->
    <div class='col-md-8 offset-md-1'>
      <h2>Posts</h2>
      <%= render 'public/shared/post_index',posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>