<div class='container px-5 px-sm-0'>
  <%= flash[:notice] %>
  <div class='row'>
    <!--ユーザー情報-->
    <div class='col-md-8 col-lg-3 mx-auto'>
      <%= render 'public/shared/end_user_info', end_user: @end_user %>
    </div>
    <!--ユーザーの投稿一覧-->
    <div class='col-md-8 offset-md-1'>
      <div class="d-flex">
        <h2>投稿</h2>
        <span class="ml-3 mt-2">(全<%= @end_user.posts.count %>件)</span>
      </div>
      <%= render 'public/shared/post_index',posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>