<!--posts/new, posts/editで使用-->
<%= form_with model: post, local: true, multipart: true do |f| %>
  <div class="tag_form">
    <label>タグ(,で区切ると複数タグ登録できます)</label>
    <%= f.text_field :tag_name,value: @tag_list, class: 'form-control' %>
  </div>
  
  <div class="form-group mt-2">
    <%= f.label :本文（必須） %>
    <%= f.text_area :body, id:"post_text", placeholder: "500文字以内", class: 'form-control post_body', rows:"8" %>
    <span class="count" id="count_body">0文字</span><span>/500文字</span>
  </div>

  <div>
    <%= f.label :画像 %><span>(6枚まで)</span><br/>
    <%= f.file_field :images, multiple: true, accept: "image/*" %>
    <% if post.images.blobs.map{|o|o.id}.compact.any? %>
      <p>削除する画像にチェックをつけてください</p>
      <div class="d-flex post_edit_form">
        <% post.images.each do |image| %>
          <% unless image.blob.new_record? %>
            <div>
              <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
              <label for="post_image_ids_<%= image.id %>" >
                <%= image_tag image, size: "150x150", class:"post_img" %>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group mt-3">
    <% if post.new_record? %>
        <%= f.submit '新規作成', class: "btn btn-success mt-4" %>
      <% else %>
        <%= f.submit '更新する', class: "btn btn-success mt-4" %>
      <% end %>
  </div>
<% end %>