<table class='table'>
  <tr>
    <td class=" col-3">投稿者</td>
    <td>
      <%= link_to(@post.end_user) do %>
        <%= image_tag @post.end_user.get_profile_image, size:"100x100" %><br>
        <%= @post.end_user.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>投稿日時</td>
    <td><%= @post.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
  </tr>
  <tr>
    <td>タグ</td>
    <td>
      <% @post_and_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
      <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>本文</td>
    <td><%= @post.body %></td>
  </tr>
</table>