<!--end_users/show, end_users/favorite_posts, posts/index, searches/searchで使用-->
<table class='table'>
  <thead>
    <tr>
      <td class="text-center">投稿者</td>
      <td>投稿内容</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <td class="text-center align-middle col-3">
        <%= link_to(post.end_user) do %>
          <%= image_tag post.end_user.get_profile_image, size:'50x50' %>
          <p class="mt-3"><%= post.end_user.name %></p>
        <% end %>
      </td>
      <td class="py-0 col-7">
        <span><%= post.created_at.strftime('%Y/%m/%d') %>  <%= post.created_at.strftime('%H:%M') %></span>
        <p class="mb-0"><%= post.body.truncate(100) %></p>

        <div class="index_option">
          <!--タグ-->
          <span>
            <b><% post.tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id) %>
              <% end %>
            </b>
          </span><br>
          <span id="comment_count"><%= post.comments.count %>コメント,</span>
          <span>画像 <%= post.images.attached? ? post.images.count : 0 %> 枚,</span>
          <span id="favorite_btn_<%= post.id %>" >
            <%= render "public/favorite_posts/favorite_btn", post: post %>
          </span>
        </div>
      </td>
      <td class="text-center align-middle text-nowrap"><%= link_to "詳細", post_path(post.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>