<div class='container'>
  <%= flash[:notice] %>
  <div class="d-flex">
    <h2 class="mt-3">投稿詳細</h2>
    <!--いいねボタン-->
    <div class="pl-5 mt-4" id="favorite_btn_<%= @post.id %>">
      <%= render "public/favorite_posts/favorite_btn", post: @post %>
    </div>
    <!--編集・削除リンク-->
     <% if @post.end_user == current_end_user %>
      <div class="pl-5 mt-4">
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "ml-3 btn btn-sm btn-danger destroy_post_#{@post.id}" %>
      </div>
    <% end %>
  </div>
  
  <div class='row'>
    <div class="col-sm-10 col-md-6 mx-auto mt-2">
      <p><b>投稿者 : 
            <%= link_to(@post.end_user) do %>
              <%= image_tag @post.end_user.get_profile_image, size:"30x30" %>
              <%= @post.end_user.name %>
            <% end %>
      </b></p>
      <p><b>投稿日 : <%= @post.created_at.strftime('%Y/%m/%d/%H:%M') %></b></p>
      <p><b>タグ : 
          <% @post_and_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id) %>
          <% end %> 
      </b></p>
      <p class="w-100 border border-dark p-2"><%= safe_join(@post.body.split("\n"),tag(:br)) %></p>
    </div>
    
  <!--画像の表示-->
    <div class="col-sm-10 col-md-5 mx-auto">
      <% if @post.images.attached? %>
      <h4 class="mt-3">画像</h4>
        <% @post.images.each do |image| %>
          <%= link_to image, "data-lightbox": image do %>
            <%= image_tag image.variant(resize: '180x180'), class:"img" %>
          <% end %>
        <% end %>
      <% else %>
      <% end %>
    </div>
   </div>
   
  <!--コメントエリア-->
  <div class="col-sm-10 col-md-6 mt-5">
    <div id="comments_error">
      <%= render 'public/shared/error_messages', resource: @comment %>
    </div>
    <div id="comment-form">
      <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
    </div>
    <div class="mt-3" id="comment-index">
      <%= render 'public/comments/comment_index', post: @post, comment: @comment %>
    </div>
  </div>
</div>