<%= flash[:notice] %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-xs-10 col-sm-5 mx-auto">
      <h2 class="mt-3">投稿詳細</h2>
      <%= render 'public/shared/post_show', post: @post %>
      <% if @post.end_user == current_end_user %>
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
      <% end %>
    </div>
    <!--images-->
    <div class="col-xs-10 col-sm-5 mx-auto">
      <h2 class="mt-3">投稿画像</h2>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <!--画像ごとにid有り-->
          <%= link_to root_path(good: image.id) do %>
            <%= image_tag image, size:'180x120' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>