<%= flash[:alert] %>
<div class='container'>
  <div class="d-flex">
    <h2 class="mt-3">投稿詳細</h2>
    <!--いいねボタン-->
    <div class="pl-5 mt-4" id="favorite_btn_<%= @post.id %>">
      <%= render "public/favorite_posts/favorite_btn", post: @post %>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-10 col-md-5 mx-auto">
      <table class='table'>
        <tr>
          <td class=" col-3">投稿者</td>
          <td>
            <%= link_to(@post.end_user) do %>
              <%= image_tag @post.end_user.get_profile_image, size:"100x100" %><br>
              <%= @post.end_user.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>投稿日時</td>
          <td><%= @post.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td>
            <% @post_and_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id) %>
            <% end %>
          </td>
        </tr>
      </table>
      
      <% if @post.end_user == current_end_user %>
        <div class="mt-3">
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
        </div>
      <% end %>
      
    </div>
    <div class="col-xs-10 col-sm-5 mx-auto">
      <table class="table">
        <tr>
          <th class="text-center">本文</th>
        </tr>
        <tr>
          <td><%= safe_join(@post.body.split("\n"),tag(:br)) %></td>
        </tr>
      </table>
    </div>
  </div>
    <!--画像-->
    <div class="">
      <h4 class="mt-3">画像</h4>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image, size:'180x120' %>
        <% end %>
      <% else %>
        <div>
          <p>画像はありません</p>
        </div>
      <% end %>
    </div>
  </div>
  <!--コメントエリア-->
  <div class="col-sm-10 col-md-5 mt-5 mx-auto">
    <div id="comments_error">
      <%= render 'public/shared/error_messages', resource: @comment %>
    </div>
    <div id="comment-form">
      <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
    </div>
    <div class="mt-3" id="comment-index">
      <%= render 'public/comments/comment_index', post: @post, comment: @comment %>
    </div>
  </div>
</div>