<div class="container offset-1">
  <h2>ログイン</h2>
    <div class="form ml-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= flash[:alert] %>
      <div class="field mt-2">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"log_in-form" %>
      </div>
      <div class="field mt-3">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"log_in-form" %>
      </div>
      <div class="actions mt-5">
        <%= f.submit "ログイン" %>
       </div>
      <% end %>
    </div>
</div>