<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-xs-10 col-sm-5 mx-auto">
      <h2 class="mt-3">投稿詳細</h2>
        <table class='table'>
          <tr>
            <td>ユーザー</td>
            <td>
              <%= link_to admin_end_user_path(@post.end_user_id) do %>
                <%= image_tag @post.end_user.get_profile_image, size:"100x100" %><br>
                <%= @post.end_user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>タグ</td>
            <td>
              <% @post_and_tags.each do |tag| %>
              <i class="fa-sharp fa-solid fa-tag"></i>
              <%=link_to tag.tag_name,admin_search_tag_path(tag_id: tag.id) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>本文</td>
            <td><%= @post.body %></td>
          </tr>
        </table>

        <%= link_to "削除", admin_post_path(@post), data: { confirm: '本当に削除しますか？' }, class:"btn btn-sm btn-danger", method: :delete %>
    </div>
    <!--images-->
    <div class="col-xs-10 col-sm-5 mx-auto">
      <h2 class="mt-3">投稿画像</h2>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image, size:'180x120' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!--コメント一覧-->
  <div class="col-12 mx-auto mt-3">
    <h4>コメント一覧</h4>
    <%= render 'comment', post: @post, comment: @comment %>
  </div>
</div>