<div class="container">
  <h4 class="mb-4"><%= @end_user.name %>さんのユーザー情報編集</h4>
    <%= render 'admin/shared/error_messages', resource: @end_user %>
      <table class="table table-bordered col-8">
      <%= form_with model: @end_user, url: admin_end_user_path(@end_user), method: :patch do |f| %>
        <tr>
          <td class="col-4">ユーザーID</td>
          <td><%= @end_user.id %></td>
        </tr>
        <tr>
          <td><%= f.label "ユーザー名" %></td>
          <td><%= f.text_field :name, autoforcus: true, autocomplete: "name", class:"w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label "メールアドレス" %></td>
          <td><%= f.text_field :email, autoforcus: true, autocomplete: "email", class:"w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label "会員ステータス" %></td>
          <td>
            <span>
              <%= f.radio_button :is_deleted, false, checked: @end_user.is_deleted == false %>
              <%= f.label :is_deleted, '有効' %>
            </span>
            <span class="pl-4">
              <%= f.radio_button :is_deleted, true, checked: @end_user.is_deleted == true %>
              <%= f.label :is_deleted, '退会' %>
            </span>
          </td>
        </tr>
      </table>
      <div>
        <% if @end_user.email != "guest@example.com" %>
          <%= f.submit "更新する", class: "btn btn-success" %>
        <% else %>
          <p>ゲストユーザーの情報は変更できません</p>
        <% end %>
      </div>
      <% end %>
</div>