<div class="container">
  <div class="mt-2">
    <h4 class="mb-3"><%= @end_user.name %>さんのユーザー詳細</h4>
    <%= flash[:alert] %>
      <table class="table table-bordered col-xs-10 col-sm-8">
        <tr>
          <td class="">会員ID</td>
        　<td><%= @end_user.id %></td>
        </tr>
        <tr>
          <td>ユーザー名</td>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <td>イントロダクション</td>
          <td><%= @end_user.introduction %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td class="<%= @end_user.is_deleted ? 'text-secondary' : 'text-success' %>"><%= @end_user.is_deleted ? '退会済み' : '有効' %></td>
        </tr>
      </table>
       
      <div>
        <% if @end_user.email != "guest@example.com" %>
          <%= link_to "編集", edit_admin_end_user_path(params[:id]), class: "btn btn-success" %> 
        <% else %>
          <p>ゲストユーザーの情報は変更できません</p>
        <% end %>
      </div>
  </div>
</div>