<div class="container offset-1">
  <h2>ログイン</h2>
    <div class="form ml-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= flash[:alert] %>
      <div class="field mt-2">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"log_in-form" %>
      </div>

      <div class="field mt-3">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"log_in-form" %>
      </div>

      <div class="actions mt-5">
        <%= f.submit "ログイン", class:'btn btn-primary' %>
      </div>
      <% end %>
    </div>

    <div class="mt-5 ml-3">
      <p class="mb-0">会員登録がお済みでない方</p>
      <div class="d-flex">
　    <%= render "public/shared/links" %><span>から新規登録を行ってください。</span>
　    </div>
    </div>
</div>
