<div class="d-flex py-2 px-3">
  <!--ロゴ--> 
  <div>
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', :size => '170x50' %>
    <% end %>
  </div>
　<!--ようこそ-->
  <div class="mx-auto my-auto col-4">
    <% if end_user_signed_in? %>
      <p class="my-auto header_name text-right"><b>ようこそ、<%= end_user.name %>さん！</b></p>
      <% else %>
    <% end %>
  </div>
  <!--リンク-->
  <nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-light"><i class="fa-solid fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse row " id="navbarSupportedContent">
    <ul class="navbar-nav header-button">
      <% if request.fullpath.include? "/admin" %>
      <!-- adminログイン時のヘッダー -->
        <% if admin_signed_in? %>
          <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "コメント一覧", admin_comments_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "ユーザー一覧", admin_end_users_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "タグ一覧", admin_tags_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light" %></li>
      <!-- adminログアウト時のヘッダー　-->
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", new_admin_session_path, class: "nav-link text-light" %></li>
        <% end %>
      <% else %>
      <!-- end_userログイン時のヘッダー　-->
        <% if end_user_signed_in? %>
          <li class="nav-item"><%= link_to "マイページ", end_user_path(current_end_user.id), class:"nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "投稿一覧", posts_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "投稿フォーム", new_post_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "nav-link text-light" %></li>
      <!-- end_userログアウト時のヘッダー　-->
        <% else %>
          <li class="nav-item"><%= link_to "ゲストログイン", end_users_guest_sign_in_path, class: "nav-link text-light", method: :post %></li>
          <li class="nav-item"><%= link_to "ログイン", new_end_user_session_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "新規登録", new_end_user_registration_path, class: "nav-link text-light" %></li>
        <% end %>
       <% end %>
      </ul>
    </div>
  </nav>
</div>
